.Root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(24px + 2vmin);
  background-color: #282c34;
}

.SidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* flex-grow: 1; */
  align-items: center;
}

.MenuIcon {
  align-self: flex-start;
  position: absolute;
  top: 15px;
  left: 15px;
}

.MenuIconEmpty {
  align-self: flex-start;
}

.NavItem {
  margin-bottom: 15%;
  flex-shrink: 0;
  width: 200px;
  padding-left: 10%;
}

.NavItemText {
  color: white;
  padding: 5%;
}

.NavItemText:hover {
  background-color: #61dafb;
  border-radius: 5pt;
}

.OutletContainer {
  flex-grow: 9;
  flex-shrink: 9;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .MenuIcon {
    display: none;
  }
}
