.Root {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  font-size: calc(24px + 2vmin);
  background-color: #282c34;
}

.SidebarContainer {
  display: flex;
  height: 100vh;
  width: 10vw;
  align-items: center;
  padding-left: 2%;
}

.NavItemText {
  color: white;
}

.NavItem{
  height: 4%;
}

.NavItem:hover {
  background-color: #61dafb;
  border-radius: 5pt;
  height: 10%
}

.OutletContainer {
  width: 80vw;
}