.Root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(24px + 2vmin);
  background-color: #282c34;
}

.SidebarContainer {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  align-items: center;
  padding-left: 2%;
}

.NavItem {
  margin-bottom: 15%;
}

.NavItemText {
  color: white;
  padding: 5%;
}

.NavItemText:hover {
  background-color: #61dafb;
  border-radius: 5pt;
}

.OutletContainer {
  flex-grow: 9;
}
