.AboutRoot {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  overflow: scroll;
  height: 90vh;
  padding: 7%;
}

.AboutHeader {
  align-self: center;
}

.ImageContainer {
  align-self: center;
  height: auto;
  width: 25%;
}

.AboutDescriptionBlock {
  font-size: 2rem;
  margin: 2% 5% 5% 5%;
}
