.AboutRoot {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  height: 90vh;
}

.AboutHeader {
  align-self: center;
  padding: 5%;
}

.ImageContainer {
  align-self: center;
  height: auto;
  width: clamp(25%, 350px, 75%);
}

.AboutDescriptionBlock {
  font-size: 2rem;
  margin: 2% 5% 5% 10%;
}
