.AboutRoot{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutHeader{
    align-self: center;
}

.AboutDescriptionBlock{
    font-size: 2rem;
    margin: 2% 5% 5% 5%;
}