.tabs-container
{
  margin-left: 1%;
  margin-right: 2.5%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
}

.tab{
  text-align: left;
  flex-grow: 1;
}

.tab:hover{
  background-color: #61dafb;
  border-radius: 5px;
  border-color: rgb(32, 95, 151);
  border-width: 100px;
}