.ReusmeRoot {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.AllJobsContainer {
  overflow: scroll;
  height: 65vh;
  width: 85vw;
}

.JobContainer {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  border-radius: 10pt;
  margin-bottom: 5%;
  padding-top: 2%;
}

.JobHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5%;
  font-size: 2.25rem;
}

.JobBody {
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: space-evenly;
}

.Logo {
  height: 5vw;
  padding: 2%;
}

.AdditionalInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.TasksContainer {
  font-size: 1.5rem;
  padding-top: 1.5%;
  padding-bottom: 2.5%;
  align-self: sp;
}
