$DarkThemePrimaryColor: #1f2022;
$DarkThemeAccentColor: hsl(220, 5%, 65%);
$DarkThemeTextColor: #FFFDF1;

$LightThemePrimaryColor: #FFFDF1;
$LightThemeAccentColor: #fff099;
$LightThemeTextColor: #1f2022;

$Red: #FF4444;
$Orange: #FF8645;
$Yellow: #faeb9e;
$Green: #4DF390;
$Blue: #45AEFF;
$Purple: #9059E2;

