$DarkThemePrimaryColor: #1f2022;
$DarkThemeAccentColor: #282c34;
$LightThemeTextColor: #FFFDF1;

$LightThemePrimaryColor: #FFFDF1;
$LightThemeAccentColor: #fff099;
$LightThemeTextColor: #1f2022;

$Red: #FF4444;
$Orange: #FF8645;
$Yellow: #FFE045;
$Green: #4DF390;
$Blue: #45AEFF;
$Purple: #9059E2;

