$DarkThemePrimaryColor: #1f2022;
$DarkThemeAccent: #282c34;

$LightThemePrimary: #FFFDF1;
$LightThemeAccent: #fff099;
$LightThemeText: #282c34;

$Red: #FF4444;
$Orange: #FF8645;
$Yellow: #FFE045;
$Green: #4DF390;
$Blue: #45AEFF;
$Purple: #9059E2;

